body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.button-link {
    color: white;
    font-weight: bold;
}

.hero-main-text {
    flex: 1;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.mainbody {
    flex: 1;
}

.hero-sub-text {
    flex: 1;
    font-size: 18px;
    color: #E5E7EB;
}

.first-body{
    display: flex;
    background-color: #1F2937;
    padding: 36px;
    height: 300px;
}

.hero-left-side {
    flex: 1;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.image-placeholder {
    display:flex;
    flex: 1;
    width: 800px;
    height: 200px;
    background-color: #3b4d66;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
    flex-shrink: 0;
    margin-top: 10px;
}

.second-body {
    padding: 16px;
}

.second-main-text {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.box {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 10px;

}

.boxes-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-subtext {
    display: flex;
    font-size: 18px;
    text-align: center;
    width: 200px;
    margin: 15px 0;
}

.third-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    padding: 56px;
    background-color: #E5E7EB;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    display: flex;
    font-weight: 900;
    font-size: 30px;
    justify-content: flex-end;
}

.fourth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;
    height: 200px;

}

.blue-container {
    display: flex;
    background-color: #3882F6;
    padding: 26px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    width: 900px;
    height: 90px;
    gap: 10px;
}


.cta-text {
    color: #E5E7EB;
    padding: 5px;
}

.cta-main-text {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cta-button {
    border: solid 2px #E5E7EB;
    width: 150px;
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 100px;
}
